body {
  margin: 0;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "M PLUS 1 Code";
  width: 100%;
  font-size: 1.1rem;
}

.container {
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  background-color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 2rem;
  margin: 0;
}

.pargraph {
  margin-bottom: 1rem;
}

a {
  color: #b4b4b4;
}

.white-link {
  color: #fff;
}

.cover {
  min-height: 70vh;
}
.date {
  font-size: 1.1rem;
}
.gray-container {
  background: #fff;
  color: #000;
}
.center-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.line-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ilustration {
  width: 100%;
  border-radius: 12px;
}
h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}

button {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 1rem;
  padding: 10px;
  background: none;
  font-family: "M PLUS 1 Code";
  color: #fff;
  margin-right: 1rem;
  transition: 200ms;
}

button:hover {
  background: #444;
}
